nav {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-bottom: 2px solid red;
}
h1 {
  color: rgb(168, 64, 64);
}
#homelink {
  display: inline-block;
  margin-right: 15px;
}
#bake-my-heart {
  display: inline-block;
  margin-left: 15px;
}
